.screen1 {
    height: 730px;
}

.navheight {
    height: 60px;
}

.navbelowheight {
    height: 670px;
}

.skewheight {
    height: 700px;
}

.board {
    width: 200px;
    height: 200px;
}

.event0 {
    width: 250px;
    height: 250px;
    margin-left: 16%;
    margin-top: 150px;
}

.event1 {
    width: 250px;
    height: 250px;
    margin-left: 36%;
    margin-top: 230px;
}

.event2 {
    width: 180px;
    height: 180px;
    margin-left: 31%;
    margin-top: 50px;
}

.event3 {
    width: 220px;
    height: 220px;
    margin-left: 49.33%;
    margin-top: 80px;
}

.event4 {
    width: 200px;
    height: 200px;
    margin-left: 57.33%;
    margin-top: 300px;
}

.event5 {
    width: 250px;
    height: 250px;
    margin-left: 68%;
    margin-top: 120px;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 700px) {

    /* .screen1 {
      height: 730px;
    }

    .navheight {
      height: 60px;
    }

    .navbelowheight {
      height: 440px;
    }

    .skewheight {
      height: 470px;
    } */

    .board {
        width: 10px;
        height: 10px;
        /* margin-left:  */
    }

    .event0 {
        width: 100px;
        height: 100px;
        margin-left: 8%;
        margin-top: 150px;
    }
    
    .event1 {
        width: 100px;
        height: 100px;
        margin-left: 34%;
        margin-top: 200px;
    }
    
    .event2 {
        width: 72px;
        height: 72px;
        margin-left: 29%;
        margin-top: 100px;
    }
    
    .event3 {
        width: 88px;
        height: 88px;
        margin-left: 53%;
        margin-top: 125px;
    }
    
    .event4 {
        width: 80px;
        height: 80px;
        margin-left: 57.33%;
        margin-top: 270px;
    }
    
    .event5 {
        width: 100px;
        height: 100px;
        margin-left: 72.5%;
        margin-top: 183px;
    }

  }