.screen1 {
    height: 730px;
}

.navheight {
    height: 60px;
}

.navbelowheight {
    height: 670px;
}

.skewheight {
    height: 700px;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 500px) {

    .screen1 {
      height: 500px;
    }

    .navheight {
      height: 60px;
    }

    .navbelowheight {
      height: 440px;
    }

    .skewheight {
      height: 470px;
    }

  }