<div *ngIf="valid">
<div class="container">
  <app-calendar></app-calendar>
</div>

<div class="container mb-4" style="height: 500px;">
  <div class="w-100 bg-light rounded" style="height: 90%; overflow: scroll;">
    <div class="py-0 mb-1 bg-dark rounded pl-2" *ngFor="let message of messages">
      <strong class="text-light">{{ message.sender }}:</strong><span class="text-light">{{ message.message }}</span><br>
      <small>{{ message.time | date:"dd MMM, hh:mm" }}</small>
    </div>
  </div>
  <div class="w-100 mt-2" style="height: 10%;">
    <form (submit)="submit($event)" style="height:100%;">
      <input class="rounded bg-light w-75 h-100 my-auto" type="text" [(ngModel)]="newMessage" name="newMessage">
      <button type="submit" class="btn btn-success w-25 h-100 my-auto">Send</button>
    </form>
  </div>
</div>
</div>

<!-- yolo -->
<!-- <p *ngFor="let user of onlineUsers">{{ user.name }}, {{ user.time }}</p> -->
<div class="container mb-4" style="height: 500px; overflow: scroll;">
  <div class="py-3 mb-2 bg-info rounded px-3" *ngFor="let user of onlineUsers">
    <div class="inline-block" style="width: 10px; height: 10px; border-radius: 50%; background: green;"></div><strong>{{ user.name }}</strong>
  </div>
</div>