<div class="text-light" height="100%" style="width: 100%; height: 740px; background: black; padding-bottom: 100px;">
<div class="container" style="width: 100%; padding-bottom: 100px;">
    <h2 class="text-center text-light pt-5" style="font-family: 'Roboto', sans-serif; font-weight: 300; letter-spacing: 20px;">AANVIK TECfest</h2>
    <form  (submit)="submit($event)" class="form-group mt-2" [ngClass]="validate? 'was-validated': 'needs-validation'">

    <div>
      <label>Name:</label>
      <input type="text" class="form-control" [(ngModel)]="name" [ngClass]="invalid_name?'is-invalid': 'is-valid'" name="name" required>
      <small class="invalid-feedback">Enter your Name.</small>
    </div>
  
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
      <small class="invalid-feedback">Enter a valid Email.</small>
    </div>
  
    <div class="form-group">
      <label>Reg_No:</label>
      <input type="text" class="form-control" [(ngModel)]="reg_no" [ngClass]="invalid_reg?'is-invalid': 'is-valid'" name="reg_no" required>
      <small class="invalid-feedback">Enter a valid Register Number.</small>
    </div>

    <div class="form-group">
      <label>Phone Number:</label>
      <input type="number" class="form-control" [(ngModel)]="phno" [ngClass]="invalid_phno? 'is-invalid': 'is-valid'" name="phno" required>
      <small class="invalid-feedback">Enter a valid Phone Number.</small>
    </div>

    <!-- <div class="g-recaptcha" data-sitekey="6LdMf3YUAAAAAPBPaaVvvGTshK00lW0HxeDLXFkd"></div> -->
    <!-- <button >Submit</button> -->
  
    
    <!-- <button class="g-recaptcha" data-sitekey="6Lc0gnYUAAAAAOcgjV9Mxq76LgpLEdDZQjXu9CeN" data-callback="submit">Submit</button> -->
  
    <re-captcha (resolved)="resolved($event)" siteKey="6Lc0gnYUAAAAAOcgjV9Mxq76LgpLEdDZQjXu9CeN"></re-captcha>
    <input type="submit" class="btn btn-lg" value="Submit">

    </form>
  
  </div>
  </div>