<!-- <div class="container">
    <div class="p-3 mt-2 rounded bg-primary">
      <h3>Rules to be followed:</h3>
      <ul>
        <li>Please enter your details correctly.</li>
        <li>Do not fill twice. <small class="text-muted bg-light rounded px-2">You can't get away with it anyways.</small></li>
        <li>Treat this form with respect, no DDOS or any such attacks. <small class="text-muted bg-light rounded px-2">If you do so, I'll make you fill it again ¯\_(ツ)_/¯ </small>.</li>
      </ul>
    </div>
    <form (submit)="submit($event)" class="form-group mt-2" [ngClass]="validate? 'was-validated': 'needs-validation'">
  
    <div>
      <label>Name:</label>
      <input type="text" class="form-control" [(ngModel)]="name" name="name" required>
      <small class="invalid-feedback">Enter your Name.</small>
    </div>
  
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
      <small class="invalid-feedback">Enter a valid Email.</small>
    </div>
  
    <div class="form-group">
      <label>Reg_No:</label>
      <input type="text" class="form-control" [(ngModel)]="reg_no" [ngClass]="invalid_reg?'is-invalid': 'is-valid'" name="reg_no" required>
      <small class="invalid-feedback">Enter a valid Register Number.</small>
    </div>

    <div class="form-group">
      <label>Phone Number:</label>
      <input type="number" class="form-control" [(ngModel)]="phno" [ngClass]="invalid_phno? 'is-invalid': 'is-valid'" name="phno" required>
      <small class="invalid-feedback">Enter a valid Phone Number.</small>
    </div>

    <div class="form-group">
      <label>Select your domain:</label>
      <select class="form-control" [(ngModel)]="domain" [ngClass]="invalid_domain? 'is-invalid': 'is-valid'" name="domain" required>
        <option value="none" selected>None</option>
        <option value="domain1">Domain1</option>
        <option value="domain2">Domain2</option>
      </select>
      <small class="invalid-feedback">Choose a Domain.</small>
    </div>

    <div class="form-group">
      <label>Upload Abstract file:</label>
      <input type="file" accept=".doc, .docx, .pdf" class="form-control" [(ngModel)]="abstract" [ngClass]="invalid_abstract? 'is-invalid': 'is-valid'" name="abstract" required>
      <small class="invalid-feedback">Upload a valid File.</small>
    </div>

    <div class="form-group">
      <label>Upload a file to Support your abstract:</label>
      <input type="file" accept=".doc, .docx, .pdf" class="form-control" [(ngModel)]="support" [ngClass]="invalid_support? 'is-invalid': 'is-valid'" name="support" required>
      <small class="invalid-feedback">Upload a valid File.</small>
    </div>
  
    <input type="submit" class="btn btn-lg" value="Submit">
  
    </form>
  
  </div> -->

  <iframe id="typeform-full" width="100%" height="100%" style="overflow: hidden;" frameborder="0" src="https://gokul59.typeform.com/to/KIyJuw"></iframe> <script type="text/javascript" src="https://embed.typeform.com/embed.js"></script>